.home{
   margin : 0;
   padding: 0;
   background-color: #8B9DC3;
   min-height: 100vh;
   color: #19008a;
}
.main-title {
    color : rgb(33, 32, 32);
}
/* #b7d7e8 */
.add-btn {
  display: block;
  width: fit-content;
  margin: 15px auto;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #19008a;
  color: #ffff;
  border-radius: 5px;
}

.add-btn:hover {
  background-color: #1976d2;
}

.total {
  text-align: center;
  margin: 20px 0;
  font-size: 2.3rem;
  color: #36486b;
  font-weight: bold;
}
.welcome-section {
  margin: 0 0 0 0;
  background-color: #36486b;
  padding: 10px;
  display : flex;
  flex-direction: column;
}
.welcome-section h1 {
  margin: 0;
  padding: 15px;
  text-align: left;
  font-weight: bold;
  font-size : 2rem;
  color: rgb(245, 237, 237);
}
.welcome-section p{
    color : #888;
    margin: 0;
    padding: 0 15px 15px;
    text-align: left;
    font-size: 1.2rem;

}
.welcome-text {
  text-align: center;
  color: rgb(10, 10, 10);
  margin-bottom: 20px;
  
}