.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;

  background: #e7e4e4;
  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-title {
  text-align: center;
  color: #1f3e5c;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: #080808;
}

.login-input:hover{
  outline : 1px solid #1f3e5c;
}
.login-btn {
  padding: 12px;
  border: none;
  border-radius: 6px;

  background-color: #1f3e5c;
  color: white;

  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #1963ac;
}

.login-subtitle {
  text-align: center;
  color: #1f476d;
  font-size: 14px;
}