.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #4040a1;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.welcome {
  font-size: 14px;
}

.logout-btn {
  padding: 6px 12px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: darkred;
}

.login-text {
  font-size: 14px;
  opacity: 0.8;
}